*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/torcidafundo.jpg);
    background-size: cover; /* Para garantir que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Para evitar que a imagem se repita */
    /* Outros estilos opcionais */
    /* background-position: center; */ /* Posiciona a imagem no centro */
    /* background-attachment: fixed; */ /* Mantém a imagem fixa enquanto a página é rolada */
}
.linha-horizontal{
    margin-top: 25px;

}
.container{
    width: 100vw;
    height: 100vh;
    background-color:#ffffff;
    background-image: url(assets/torcidafundobranco.jpg);
    background-size: cover; /* Para garantir que a imagem cubra todo o fundo */
    background-repeat: no-repeat;
}

.navbar{
    width: 100%;
    height: 10%;
    background-color: hsl(113, 37%, 14%);
    display: flex;
    justify-content: space-between;
}

.container_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    padding-left: 2.0rem;
}

.imagem_logo{
    width: 150px;
    height: 150px;
}
.container_lista{
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 1.2rem;
    padding: 1.8rem;
    margin-top: 5px;
    margin-right: 1rem;
    color: hsl(0, 0%, 100%);
    font-family: Verdana, sans-serif;
}
.torcida{
    width: 100%;
    height: 100%;
}


.titulo{
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    color: hsl(0, 0%, 0%);
    font-size: 23px;
}
.subtitulo{
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    color:hsl(0, 0%, 0%);
    font-size: 23px;

}

.titulo2{
    font-family: Verdana, sans-serif;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 80px;
    margin-left: 184px;
    color:hsl(0, 0%, 0%);
}

.apostas{
    display: flex;
    margin-left: 1.5rem;
    margin-top: 30px;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.card1{
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
    .selecoes{
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    border: 2px solid black; 
    justify-self: center;
    align-items: center;
    width: 300px;
    height: 390px;
    background-color: hsl(113, 37%, 14%);
}
.texto{
    display: flex;
    flex-direction: row;
    font-family: Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 30px;
    color: hsl(0, 0%, 100%);
}

.img_futebol {
    width: 300px;
    height: 260px;
    border: 2px solid black;
       
}

.sobre_dev{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.img_minha {
    
    border-radius: 50%;
    width: 400px;
    height: 220px;
    background-color: hsl(113, 37%, 14%);
    margin-top: 4%;
    margin-left: 10%;
   
   
}   

.paragrafo_sobre_dev{
    
    color:hsl(0, 0%, 0%);
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin-top: 9%;
    margin-left: 50px;
    margin-right: 10%;
    
    
    
    
}
.newsletter{
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 15px; 
    color:hsl(0, 0%, 0%);
}
.navbarbaixo{
    width: 100%;
    height: 10%;
    background-color: hsl(114, 24%, 15%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
    gap: 1380px;
    
}

.assinatura{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
    margin-bottom: 24px;
}
.form1{
    display: flex;
    margin-top: 24px;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: rgb(0, 0, 0) solid 2px ;
    

}

.titulo_pagina{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    align-items: center;
    font-family: Verdana, sans-serif;
    color: black;
    background-color:hsla(0, 0%, 100%, 0);

}

.perguntas{
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    /* padding-top: 10px; */
    gap: 20px;
    background-color:hsla(0, 0%, 100%, 0);
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    margin-top: 2%;
    padding-top: 3%;
}

.linha-horizontal{
    
    border: black solid 1px;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column
}
.botao-assinar {
    display: flex;
    flex-direction: column;
    justify-self:  center;
    align-items: center;
    background-color:  hsl(0, 0%, 0%); 
    color: white; 
    padding: 15px 0px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.botao-assinar:hover {
    background-color: hsl(114, 24%, 15%);  /* Altera a cor de fundo ao passar o mouse */
    display: flex;
    flex-direction: column;
    justify-self:  center;
    align-items: center;
}

.contato{
    display: flex;
    gap: 25PX;
    margin-top: 30px;
}
.face{
    filter: saturate(0);
    border-radius: 40%;
    width: 40px ;
    height: 40px;
}
.insta{
    border-radius: 40%;
    filter: saturate(0);
    width: 43px;
    height: 43px;
}